<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inventario</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body background="#A6A6A6">
	<header th:replace="plantilla/template :: header"></header>
	<br>
	<div class="container mt-4">
		<hr color="#A6A6A6">
		<h5 class="card-title">LISTA PERSONAS</h5>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">CUI</th>
					<th scope="col">Nombre</th>
					<th scope="col">Fecha de Nacimiento</th>
					<th scope="col">Dirección</th>
					<th scope="col">Teléfono Movil</th>
					<th scope="col">Teléfono Casa</th>
					<th scope="col">Nombre Encargado</th>
					<th scope="col">CUI Encargado</th>
					<th scope="col">ACCION</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tb_persona:${Tb_persona}">
					<th th:text="${tb_persona.cui}" scope="row"></th>
					<td th:text="${tb_persona.nombre}"></td>
					<td th:text="${tb_persona.fecha_nacimiento}"></td>
					<td th:text="${tb_persona.direccion}"></td>
					<td th:text="${tb_persona.telefono_movil}"></td>
					<td th:text="${tb_persona.telefono_casa}"></td>
					<td th:text="${tb_persona.nombre_encargado}"></td>
					<td th:text="${tb_persona.cui_encargado}"></td>
					<td><a class="btn btn-warning"
						th:href="@{/mdosis/agregar/}+${tb_persona.cui}">Ingresar dosis</a></td>
				</tr>
			</tbody>
		</table>
		<div>
			<a type="button" class="btn btn-success" href="/mdosis/list">Lista dosis
			</a> <a class="btn btn-link" th:href="@{/dpersona/list}">Atras</a>
		</div>
		<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
			th:if="${mensaje != null}" th:text="${mensaje}" class="alert">
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="plantilla/template :: footer"></footer>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/js/funciones.js"></script>
</body>
</html>